[Unit]
Description=Jitsi Gateway for SIP
After=network.target

[Service]
EnvironmentFile=/etc/jitsi/jigasi/config
Environment=LOGFILE=/var/log/jitsi/jigasi.log
User=jigasi
RuntimeDirectory=jigasi
RuntimeDirectoryMode=0750
PIDFile=/var/run/jigasi/jigasi.pid
# more threads for this process
TasksMax=65000
# allow more open files for this process
LimitNPROC=65000
LimitNOFILE=65000
ExecStart=/bin/bash -c "exec /usr/share/jigasi/jigasi.sh --host=$${JIGASI_HOST:-localhost} --domain=${JIGASI_HOSTNAME} --logdir=/var/log/jitsi --configdir=/etc/jitsi --configdirname=jigasi ${JIGASI_OPTS} < /dev/null >> ${LOGFILE} 2>&1"
ExecStartPost=/bin/bash -c "echo $MAINPID > /var/run/jigasi/jigasi.pid"

[Install]
WantedBy=multi-user.target
