#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with javahelper --with systemd

override_dh_installinit:
	dh_installinit --noscripts

override_dh_auto_install:
	dh_auto_install
	dh_systemd_enable || true
	dh_systemd_start || true

override_dh_auto_clean:

override_dh_install-arch:
ifeq ($(DEB_HOST_ARCH),amd64)
	dh_install -pjigasi lib/native/linux-64/*.so usr/share/jigasi/lib/native/linux-64/
	dh_install -pjigasi lib/libunix-java.so usr/share/jigasi/lib/native/linux-64/
else
	dh_install -pjigasi lib/native/linux/*.so usr/share/jigasi/lib/native/linux/
	dh_install -pjigasi lib/libunix-java.so usr/share/jigasi/lib/native/linux/
endif
